.product {
   padding: 20px 50px;
   display: flex;
   gap: 50px;

   .left {
      display: flex;
      gap: 20px;

      .images {
         flex: 1;

         img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            cursor: pointer;
            margin-bottom: 10px;
         }
      }

      .mainImage {
         flex: 5;
        img {
         width: 50%;
         max-height: 1000px;
         object-fit: cover;
         }
       
      }
   }

   .right {
      flex: 1;
   }
}