.FeaturedProducts{
    margin: 70px 200px;
    margin-bottom: 50px;
    
    .top{
        display: flex;
        justify-content: space-between;
    }
    h1{
        flex: 2;
        color: #00BA7C;
    }
    p{
        flex: 3;
        color: black;
    }
    .bottom{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}