.Search {
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 999;
  background-color: white;
  padding: 20px;
  border: 2px solid;
  border-color: #00ba7c;
  border-radius: 3px;
  display: flex;
  align-items: center; 
  box-shadow:
    1px 1px  black,
    -0.3em 0.3em 0.3em black;
  
  input {
    flex: 1;
    height: 35px;
    margin-right: 10px; 
    font-size: 17px;
  }
  
  .btn {
    height: 20px;
    width: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    background-color: #00ba7c;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    font-size: 17px;
    &:hover {
      background-color: #00764f;
      color: white;
    }
  }
}
